*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}
.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    "section main main main main main aside aside";
}
.grid-container > div{
    width: 100%;
    height: 120vh;
}
/* -----section----- */
.section{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    /* background-color: rgb(24, 147, 255); */
    grid-area: section;
}
.header-setion{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.img-linglee{
    width: 30px;
    height: 30px;
}
.center-sectioin{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.head-h3:hover{
    text-decoration: underline;
    color: rgb(24, 147, 255);
}
h4:hover{
    text-decoration: underline;
    color: rgb(24, 147, 255);
}
.center-1,
.center-2,
.center-3,
.center-4,
.center-5,
.center-6{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bxr{
    font-size: 30px;
    color: rgb(24, 147, 255);
}
.bxr:hover{
    color: rgb(0, 0, 0);
}
.bx {
    font-size: 30px;
}
.bx:hover{
    color: rgb(24, 147, 255);
}
.bottom-section{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    /* margin-top: 1000px; */
    height: 30vh;
    width: 55%;
    margin: 20px;
    border-radius: 12px;
    background-color: rgba(211, 211, 211, 0.247);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}
.info-bu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-section{
    transition: all 0.3s ease-in-out;
}
.bottom-section:hover{
    transform: translateY(-5px);
}
.par-bu{
    margin-bottom: 10px;
    line-height: 1.5em;
    text-align: center;
}
.img-3{
    margin-top: -20px;
    width: 100px;
    height: 100px;
}
.upgrade-btn{
    margin: 20px;
    text-align: center;
    width: 80px;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background-color: rgb(24, 147, 255);
    color: white;
    font-weight: bold;
    /* cursor: pointer; */
}
.upgrade-btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(24, 147, 255);
    transition: all 0.3s ease-in-out;
}
/* ----main----- */
.main{
    height: 150vh;
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: rgba(218, 218, 218, 0.144);
    grid-area: main;
}
.par-header-main{
    color: gray;
    font-weight: bold;
}
.header-main{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bx-search{
    border-radius: 8px;
    padding: 10px;
    background-color: aliceblue;
    font-size: 20px;
    color: rgb(24, 147, 255);
}
.bx-search:hover{
    background-color: rgb(24, 147, 255);
    color: white;
    transition: all 0.3s ease-in-out;
}
.top-main-info{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* box-shadow: 0 4px 15px rgba(0,0,0,0.05); */
    margin: 15px;
    border-radius: 10px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px;
}
.top-main-info{
    transition: all 0.3s ease-in-out;
}
.top-main-info:hover{
    transform: translateY(-5px);
}
.info-left{
    display: flex;
    gap: 20px;
    flex-direction: column;
    line-height: 1.5em;
    padding: 30px;
}
.head-info{
    color: red;
}
.info-main{
    display: flex;
    align-items: center;
    gap: 20px;
}
.img-1{
    padding-right: 60px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.top-footer-main{
    /* margin-bottom: 20px; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.main-right-top{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bx-right-arrow-alt{
    font-size: 30px;
}
.main-footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}
.main-left,
.main-center,
.main-right{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    height: 60px;
    color: white;
    width: 33%;
    padding: 15px ;
    background-color: rgba(133, 65, 196, 0.644);
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-left-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.main-left-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.par-left-1{
    margin-left: -50px;
}
.par-left{
    margin-left: -40px;
    text-align: left;
    color: white;
}
.bx-right-arrow-alt{
    margin-left: 40px;
    text-align: right;
    font-size: 24px;
}
.main-top-left{
    background-color: rgba(1, 1, 119, 0.699);
}
.main-left-head{
    border-radius: 8px;
    padding: 12px 12px;
    background-color: rgba(1, 1, 119, 0.308);
}
.main-right:hover{
    transform: translateY(-5px);
}
.main-center:hover{
    transform: translateY(-5px);
}
.main-left:hover{
    transform: translateY(-5px);
}
.main-right,
.main-center,
.main-left{
    /* transform: translateY(-5px); */
    transition: all 0.3s ease-in-out;
}

.head-right-main{
    background: rgba(255, 0, 0, 0.315);
}
.main-right{
    background-color: rgba(255, 0, 0, 0.445);
}
.main-center-img{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 30vh;
    margin-bottom: 80px;
}
.image-top-center{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
     /* box-shadow: 0 4px 15px rgba(0,0,0,0.05); */
    margin-left: 22px;  
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.image-top-center{
    transition: all 0.3s ease-in-out;
}
.image-top-center:hover{
    transform: translateY(-5px);
}
.image-center{
    transition: all 0.3s ease-in-out;
}
.image-center:hover{
        transform: translateY(-5px);
}
.image-center{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
     /* box-shadow: 0 4px 15px rgba(0,0,0,0.05); */
    width: 400px;
    height: 300px;
    /* object-fit: cover; */
    border-radius: 10px;
}
.h4-1:hover{
    text-decoration: underline;
    color: rgb(1, 1, 163);
}
.h4-2:hover{
    text-decoration: underline;
    color: purple;
}
.h4-3:hover{
    text-decoration: underline;
    color: red;
}
/* -----aside----- */
.aside{
    height: 150vh;
    width: 25%;
    /* background-color: blueviolet; */
    grid-area: aside;
}
.aside-top{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aside-info{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.image-profile{
    height: 150px;
    width: 150px;
}
.major{
    color: gray;
}
.aside-center-1,
.aside-center-2{
    margin: 30px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 1.5em;
}
.aside-left-head{
    background-color: rgba(128, 128, 128, 0.308);
}
.aside-left-head:hover{
    background-color: rgba(128, 128, 128, 0.508);
}
.aside-2,
.aside-1{
    margin-right: 40px;
}
.aside-3{
    margin: 40px 20px;
    display: flex;
    justify-content: space-between;
}
.aside-top-footer,
.aside-center-footer,
.aside-buttom-footer{
    line-height: 2em;
    margin: 0px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.bx-error-circle,
.bxs-inbox{
    color: red;
    background-color: rgba(255, 0, 0, 0.158);
    padding: 10px 11px;
    border-radius: 10px;
}
.bxs-inbox{
    background-color: rgba(24, 147, 255, 0.144);
    color: rgb(24, 147, 255);
}
.bxs-inbox:hover{
    background-color: rgba(24, 147, 255, 0.308);
}
.aside-top-footer{
    margin-bottom: 40px;
}
.aside-center-footer{
    margin-bottom: 40px;
}